@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;1,400;1,500&display=swap');
body {
  margin: 0;
  font-family:'Ubuntu', sans-serif;
}

.avatar-sm{
  width: 40px;
  height: 40px;
}

.avatar-md{
  width: 200px;
  cursor: pointer;
}

.spinner{
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center; 
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: rgba(233, 233, 233, .4);
  z-index: 1000;
}